{% extends "base.html" %}

{% block css %}
{{ block.super }}
    <style>
        #summary, #summary2 {border-top:1px solid #ccc;border-left:1px solid #ccc;}
        #summary td, #summary2 td {border-right:1px solid #ccc;
                border-bottom:1px solid #ccc;padding-left:5px;}
        #summaryTH td {font-weight:bold;background:#eee;color:black;}
    </style>

{% endblock css %}

{% block main %}
About:
    <a href="http://katychuang.tumblr.com/dissertation">About The Research Study </a>

Volume of Data Collected

<table width="400" id="summary">
<thead id="summaryTH"><td>&nbsp;</td>
    <td>FP</td><td>FC</td><td>JP</td><td>JC</td><td>N</td></thead>
<tr><td>Time Period</td><td colspan="5"><center>24 months</center></td></tr>
<tr><td>Number</td>
    <td>{{ fp|length }}</td>
    <td>{{ fc|length }}</td>
    <td>{{ jp|length }}</td>
    <td>{{ jc|length }}</td>
    <td>{{ nm|length }}</td>
</tr>
<tr><td># of users</td>
    <td>{{ fpNodes|length }}</td>
    <td>{{ fcNodes|length }}</td>
    <td>{{ jpNodes|length }}</td>
    <td>{{ jcNodes|length }}</td>
    <td>{{ nNodes|length }}</td>
</tr>
</table>

<p>&nbsp;</p>
<p>Structural metrics for each sample</p>
<table width="400" id="summary2">
<thead id="summaryTH"><td>&nbsp;</td><td>Forum</td><td>Journal</td><td>Notes</td></thead>
<tr>
    <td>Time Period</td><td colspan="3">
    <center>3 months // 24 months</center>
</td></tr>
<tr><td>Nodes</td>
    <td>111 //
    {% with fpNodes|length as fpL %}
    {% with fcNodes|length as fcL %}
    {{ author|length|add:fpL|add:fcL }}
    {% endwith %}
    {% endwith %}
    {{ fNodes|length }}</td>
    <td>143 //
    {% with jpNodes|length as fpL %}
    {% with jcNodes|length as fcL %}
    {{ author|length|add:fpL|add:fcL }}
    {% endwith %}
    {% endwith %}
    {{ jNodes|length }}</td>
    <td>411 // {{ nNodes|length }}</td>
</tr>
<tr><td>Total Edges</td>
    <td>2613 // {{ fEdge|length }}</td>
    <td>1612 // {{ jEdge|length }}</td>
    <td>411 // {{ nEdge|length }}</td>
</tr>
<tr><td>Unique Edges</td>
    <td>181 // {{ fUEdge|length }}</td>
    <td>424 // {{ jUEdge|length }}</td>
    <td>292 // {{ nUEdge|length }}</td>
</tr>
</table>
<P>&nbsp;</p>

{% endblock main %}
